name: Build decks

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - run: pip install networkx

    - name: Run deck builder
      run: |
        python build_decks.py graphs decks

    - name: Commit decks
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git add decks
        git commit -m "Add decks" || echo "No changes"
        git push
